.nav {
    list-style: none;
    text-align: center;
}
.nav li {
    display:inline;
    margin-right:20px;
}
.container {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 50px;
    background-color: white;
}
.copy {
    font-size: 25px;
    color:chocolate;
    background-color:bisque;
}
#span1 {
    color:purple;
    font-size: 100px;
}
#span2 {
    color:blue;
    font-size: 15px;
}
img {
    float:right;
    margin-right: 40%;
}